USE [master]
GO
/****** Object:  Database [CRUD_DB]    Script Date: 20-01-2020 20:40:20 ******/
CREATE DATABASE [CRUD_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CRUD_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_DB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[PRICE] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdateProduct]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrUpdateProduct]
@ProductID int,
@Name varchar(50),
@Price int
AS
BEGIN
IF (@ProductID = 0)
   BEGIN
      INSERT INTO Product([NAME],PRICE)
	  VALUES (@Name , @Price)
   END
ELSE
   BEGIN 
     UPDATE Product 
	  SET
	    [NAME] = @Name,
		PRICE = @Price
	WHERE
	    PRODUCT_ID = @ProductID

	END
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteProduct]
@ProductID int
AS
BEGIN
   delete from Product WHERE
	    PRODUCT_ID = @ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[Validate_User]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Validate_User]
      @Username NVARCHAR(20),
      @Password NVARCHAR(20)
AS
BEGIN
      SET NOCOUNT ON;
      DECLARE @UserId INT
     
      SELECT @UserId = USER_ID
      FROM USERS WHERE USERNAME = @Username AND [PASSWORD] = @Password
     
      IF @UserId IS NOT NULL
        BEGIN
         SELECT @UserId [UserId] -- User Valid
	    END
      ELSE
         BEGIN
			 SELECT -1 -- User invalid.
         END
END
GO
/****** Object:  StoredProcedure [dbo].[ViewProduct]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ViewProduct]
AS
BEGIN
   Select * from Product
END
GO
/****** Object:  StoredProcedure [dbo].[ViewProductByID]    Script Date: 20-01-2020 20:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ViewProductByID]
@ProductID int
AS
BEGIN
   Select * from Product where PRODUCT_ID = @ProductID
END
GO
USE [master]
GO
